/* this file is just describe DEMO pages base style, its not required for correct work of extension */

.center-wrapper {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin: 0px;
    padding-left: 12px;
    padding-right: 12px;
}

.input-quad {
    width : 50px;
    height : 55px;
    display : inline-block;
}
.input-quad.selected {
    width : 50px;
    height : 72px;
}

.input-quead-mini {
    width : 22px;
    height : 22px;
    display : inline-block;
}

.input-quad-transp {
    background: none !important;
}

.ui-btn.wide120 {
    width : 120px;
}

.saved-color-text {
    font-size: large !important;
    text-shadow: 2px 2px 12px #000000 !important;
    color: #ffffff !important;
}

.saved-color-element {
    margin-top: 4px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
}

.picker-color-text {
    font-size: large !Important;
    text-shadow: 3px 3px 18px #000000 !important;
    color: #ffffff !important;
}

.svg-trans-container {
    width: 100%;
    height: 300px;
}

.svg-rect-shadow {
    -webkit-filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .7));
    filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .7));
}

