/* this file is just describe DEMO pages base style, its not required for correct work of extension */

.center-wrapper {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin: 0px;
    padding-left: 12px;
    padding-right: 12px;
}

.input-quad {
    width : 74px;
    height : 56px;
    display : inline-block;
}

.input-quead-mini {
    width : 22px;
    height : 22px;
    display : inline-block;
}

.input-quad.selected {
    height : 72px;
    width : 84px;
}

.ui-btn.wide120 {
    width : 120px;
}

.saved-color-text {
    text-shadow: 2px 2px 12px #000000;
    color: #ffffff;
}

.saved-color-button {
        margin-left: 5px;
}

.saved-color-element {
    margin-top: 4px;
    padding: 10px;
}


