/* this file is just describe DEMO pages base style, its not required for correct work of extension */

.center-wrapper {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin: 0 auto;
}

.input-quad {
    width : 56px;
    height : 56px;
    display : inline-block;
}

.input-mini-color {
    width : 56px;
    height : 28px;
    padding: 0px;
    vertical-align: bottom;
    background-color: blue;
    display : inline-block;
}

.input-quad.selected {
    height : 64px;
    width : 72px;
}

.input-mini-color.selected {
    width : 64px;
    height : 31px;
}

.ui-btn.wide120 {
    width : 120px;
}

